body{
    display: flex;
    justify-content: center;
    background-color: rgb(54, 54, 54);
}
.content{
    background-color: rgb(231, 229, 229);
    width: 60vw;
    height: 90vh;
    border-radius: 1rem;
}
.subContent{
    padding-left: 2%;
}
.line{
    padding: 1px;
    background-color: lightgray;
    width: 99%;
}
#inputTask{
    width: 80%;
    height: 30px;
    border-color: rgb(202, 202, 202);
    border-radius: 4px;
}
#addTask{
    background-color: green;
    color: lightgray;
    border-radius: 5px;
    padding: 0.5rem;
}
.count-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.without-doing{
    color: rgb(177, 177, 177);
}
.list{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
ul{
    list-style: none;
}
li{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.delete{
    background-color: rgb(155, 32, 32);
    color: white;
    border-color: rgb(155, 32, 32);
    
}
.finished{
    background-color: darkolivegreen;
    color: white;
    border-color: darkolivegreen;
}
.buttons{
    display: flex;
    gap: 0.5rem;
    margin-right: 0.5rem;
}
